
/* // main navbar (nav items) styling// */
.nav-pills .nav-link {
  color: #808080;
}

.nav-pills .nav-link.active {
  background-color:#42ab49 !important;
  color: white !important;
}
/*  */


/* / ongoing orders page tabs(All,DineIn,Togo,Delivery) styling / */
.nav-underline .nav-link{ 
  margin-right: 1.6rem; 
  padding-bottom: 0.5rem; 
  color: gray;
}

.nav-underline .nav-link.active {
  color: black !important;
  border-bottom: 0.2rem solid orange;
}

.card-price{
  color: #4C3BCF !important;
  font-weight: bold !important;
  
}
.custom-card{
padding:0 !important;
}